@mixin animate($easing) {
    -webkit-transition: $easing;
    -ms-transition: $easing;
    transition: $easing;
}
@mixin animation($animation) {
    -webkit-animation: $animation;
    -o-animation: $animation;
    animation: $animation;
}

@mixin cover($cover) {
    -webkit-background-size: $cover;
    -ms-background-size: $cover;
    background-size: $cover;
}

@mixin transform($transforms) {
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin translate($x,
$y) {
    @include transform(translate($x,
    $y));
}

@mixin shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > iframe {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 50%;
    top: 20%;
    @include translate(-50%,-20%);
  }
}
@mixin mobile{
  @media all and (max-width:#{$mobile}){
    @content;
  }
}


// Superellipse
@function trim($number) {
@if type-of($number) == "number" and not unitless($number) {
@return $number / ($number * 0+1);
}
@return $number;
}

@function replace($string, $search, $replace: "") {
$index: str-index($string, $search);
@return if(
$index,
str-slice($string, 1, $index - 1) + $replace +
replace(
    str-slice($string, $index + str-length($search)),
    $search,
    $replace
),
$string
);
}

@mixin super-rectangle($width, $height, $color) {
$width: trim($width);
$height: trim($height);
$color: replace("" + $color + "", "#", "%23");
$halfWidth: $width / 2;
$halfHeight: $height / 2;
background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg version='1.1' id='rectangle' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='" + $width + "' height='" + $height + "' viewBox='0 0 " + $width + " " + $height + "' enable-background='new 0 0 " + $width + " " + $height + "' xml:space='preserve'%3E%3Cpath fill='" + $color + "' stroke='none' d='M 0," + $halfHeight + " C 0,0 0,0 " + $halfWidth + ",0 S " + $width + ",0 " + $width + "," + $halfHeight + " " + $width + "," + $height + " " + $halfWidth + "," + $height + " 0," + $height + " 0," + $halfHeight + "'%3E%3C/path%3E%3C/svg%3E");
background-size: #{$width + "px"} #{$height + "px"};
background-repeat: no-repeat;
}