$gutter: 1.25rem;
$grid-sm: 767;
$mobile: 767px;
$grids: 12;
$black: #1A1D1F;
$pc: #0f2350;
$sc: #00f079;
$off-white: #f4f5f6;
$white: #ffffff;
$gray: #7f8c8d;
$gray-dark: #959595;
$gray-light: #edeff2;
$red: #ef4444;
$yellow: #f5c445;
$orange: #d35400;
$text-color: #3b4453;
$green: #006b50;
$blue: #0099cc;
$purple: #6A2D73;
$light-blue: #e1f3ff;
$img-path: "../images" !default;
