.notification {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  &:not(:last-child) {
    border-bottom: 1px solid #ecf0f5;
  }
  &__icon {
    background: #d7e4ff;
    width: 48px;
    height: 48px;
    font-weight: 600;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #003fc2;
    font-size: 1.25rem;
  }
  &__content {
    h3,
    p {
      margin: 0;
    }
    h3 {
      font-size: 1rem;
      color: $black;
    }
    p {
      font-size: 0.875rem;
      color: $text-color;
    }
  }
  &__more {
    margin-left: auto;
    text-align: center;
    .el-dropdown-link {
      &:focus-visible {
        outline: none;
      }
    }
    i {
      display: block;
      transform: rotate(90deg);
      margin-top: 5px;
    }
  }
  &__tab {
    button {
      background: none;
      border: none;
      color: $text-color;
      font-size: 1rem;
      display: flex;
      gap: 5px;
      font-weight: 500;
      position: relative;
      padding-bottom: 1rem;
      span {
        background: #d7e4ff;
        width: 20px;
        height: 20px;
        font-weight: 500;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $black;
        font-size: 0.875rem;
      }
      &::after {
        content: "";
        display: block;
        background: #003fc2;
        height: 4px;
        width: 100%;
        border-radius: 4px 4px 0 0;
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: all 0.2s;
      }
      &.active {
        color: $black;
        &::after {
          opacity: 1;
        }
      }
    }
  }
}

.setting {
  &__item {
    align-items: center;
    gap: 50px;
    padding: 1rem 0;
  &:not(:last-child) {
    border-bottom: 1px solid #ecf0f5;
  }
    h3 {
      margin: 0;
      font-size: 1rem;
      color: $black;
      span {
        display: block;
        font-weight: normal;
        font-size: 0.875rem;
        color: $text-color;
      }
    }
  }
}
