.leaderboard {
  border-radius: 12px;
  overflow: hidden;
  background: #f6f8fa;

  &__header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-image: url(#{$bg});
    background: linear-gradient(300deg, #0575e6, #021b79, #0575e6, #0575e6, #021b79);
    background-size: 300% 300%;
    animation: gradient-animation 45s ease infinite;
    padding: 20px 20px 40px;
    text-align: center;
    clip-path: circle(120% at 50% -44%);
    color: $white;
    min-height: 260px;
    position: relative;
    z-index: 1;
    img {
      position: absolute;
      height: 130px;
      z-index: -1;
      left: -24px;
      bottom: -16px;
    }
  }

  &__avatar {
    width: 64px;
    height: 64px;
    background: $pc;
    border-radius: 50%;
    margin: 0 auto 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 600;
    color: $yellow;
  }

  &__position-title {
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: 600;
  }

  &__position-number {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__description {
    font-size: 0.85rem;
    margin-bottom: 10px;

    .leaderboard__highlight {
      font-weight: 600;
    }
  }

  &__calculate {
    font-size: 0.85rem;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-weight: 600;
    color: $white;
    text-decoration: underline;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
  }

  &__row {
    text-align: left;

    td {
      padding: 10px;
      font-size: 0.85rem;
      vertical-align: middle;
    }
    &:nth-child(even) td {
      background: #eef1f6;
    }
  }

  &__rank {
    width: 15%;
    font-weight: 600;
    text-align: center;
    font-size: 1rem !important;
    img {
      height: 24px;
    }
  }

  &__name {
    width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    h4 {
      margin: 0;
      span {
        display: block;
        font-weight: 400;
        color: $text-color;
      }
    }
  }

  &__icon {
    width: 15%;
    text-align: center;
    font-size: 1.25rem !important;
    color: #c38f08;
  }

  &__score {
    width: 30%;
    text-align: right;
    strong {
      font-weight: 500;
      display: inline-flex;
      color: #024aaf;
      background: #cde1fe;
      padding: 0.25rem 0.5rem;
      border-radius: 30px;
      font-size: 0.75rem;
    }
  }
}
.profile-rewards {
  border-radius: 0.875rem;
  background: linear-gradient(115deg, rgb(249, 206, 52), rgb(238, 42, 123), rgb(98, 40, 215));
  padding: 1.25rem;
  color: $white;
  position: relative;
  z-index: 1;
  overflow: hidden;
  & > img {
    position: absolute;
    z-index: -1;
    bottom: -20%;
    left: -10%;
    width: 240px;
  }
  p {
    color: $white;
    font-size: 0.9rem;
  }
}
.reward-level {
  text-align: center;
  max-width: 280px;
  margin: 0 15px;
  margin: 0 auto;
  .el-progress__text {
    display: none;
  }
  h2 {
    font-size: 1.25rem;
  }
  .el-progress {
  margin-bottom: 0.75rem;

}
.el-progress-bar__inner {
 background-color: #0f2350;
}

}
