.rewards {
    &-info{
        display: grid;
        grid-template-columns: 340px 1fr;
        gap: 1.5rem;
    }
  &-process {
    @extend %dashCard;
    background: linear-gradient(300deg, #0575e6, #021b79, #0575e6, #0575e6, #021b79);
    background-size: 400% 200%;
    animation: gradient-animation 45s ease infinite;
    color: $white;
    h4 {
      font-size: 1.25rem;
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        position: relative;
        padding-left: 1.5rem;
        font-size: 0.9rem;
        &:not(:last-child) {
          margin-bottom: 0.65rem;
        }
        &::before {
          position: absolute;
          left: 0;
          top: 0;
          font-family: "uddoog" !important;
          font-size: 1rem;
          content: "\e926";
        }
      }
    }
  }
}
