.sort-filter {
  display: flex;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  overflow: hidden;
  width: fit-content;

  &__option {
    padding: 0.65rem 0.75rem;
    border: none;
    background: white;
    font-weight: 400;
    transition: background 0.2s;
    margin: 0;
    font-size: 0.875rem;
    color: $gray-dark;
    &:not(label) {
      font-weight: 500;
      color: $text-color !important;
      cursor: pointer;
      &:hover {
        background: #f9fafb;
      }
    }

    &:not(:last-child) {
      border-right: 1px solid #d1d5db;
    }

    //   &--active {
    //     background: #f3f3f3;
    //   }
  }
}
