// Product Card
.product-card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;
  display: block;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &__image {
    position: relative;
    height: 200px;
    background: #f9f9f9;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      mix-blend-mode: multiply;
    }
  }
&__actions{
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  &-action {
    background: $white;
    color: $black;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    &:not(:last-child){
      margin-bottom: .5rem;
    }
  }
}
  
  &__discount {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba($orange, 0.8);
    color: $white;
    border-radius: 0.275rem;
    cursor: pointer;
    z-index: 1;
    padding: 0.25rem;
    font-size: 12px;
  }

  &__content {
    padding: 1rem;
  }

  &__title {
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 500;
    color: $blue;
  }

  &__sales,
  &__prices {
    display: flex;
    justify-content: space-between;
    margin: 0.25rem 0;
    font-size: 0.9rem;
  }
  &__sales {
    margin: 0.75rem 0;
    p {
      margin-bottom: 0;
      font-size: 0.85rem;
    }
  }
  &__prices {
    color: $pc;
    margin-bottom: 0;
    p {
      margin: 0;
      font-size: 0.85rem;
    }
    strong {
      display: block;
      i {
        font-size: 12px;
      }
    }
  }
  &__uddoog-price {
    color: $purple;
    font-weight: 500;
    strong {
      display: block;
    }
  }
  &__seller-price {
    font-weight: 500;
    color: $blue;
    strong {
      font-size: 1rem;
      i {
        font-size: 14px;
        
      }
    }
  }
}
