table {
  border-collapse: collapse;
}
.table {
  width: 100%;
  max-width: 100%;
  margin: 0;
  background-color: transparent;
  td,
  th {
    padding: 0.875rem;
    vertical-align: middle;
    word-wrap: break-word;
    font-size: 0.85rem;
  }
  thead {
    th {
      vertical-align: bottom;
      border: none;
      font-weight: 500;
      background: #f9fafb;
      &:first-child {
        border-radius: 8px 0 0 0;
      }
      &:last-child {
        border-radius: 0 8px 0 0;
      }
    }
  }
  tbody {
    td {
      color: #3b4453;
      border-top: 1px solid #dee2e6;
      &:last-child {
        a {
          display: inline-flex;
          font-size: 1rem;
          cursor: pointer;
          &:not(:last-child) {
            margin-right: 0.75rem;
          }
          &.btn-view {
            color: $gray-dark;
          }
          &.btn-edit {
            color: $pc;
          }
          &.btn-delete {
            color: $red;
          }
        }
      }
    }
  }
 
}
 .badge {
    display: inline-flex;
    padding: 0.2rem 0.7rem;
    border-radius: 1.5rem;
    transition: backround 0.2s;
    font-size: 0.75rem;
  }